<div class="col-sm-12 email-creator center-flex">
  <div class="row">
    <div class="col-sm-4 center-flex">
      <label>
        <input type="text" placeholder="Professor's Name">
      </label>
    </div>
    <div class="col-sm-4 center-flex">
      <label>
        <input type="text" placeholder="Professor's last name">
      </label>
    </div>
    <div class="col-sm-4 center-flex" *ngIf="!shouldDisplayQuestionSection">
      <button type="submit" class="btn btn-light" (click)="returnToQuestionSection()">Generate E-mail</button>
    </div>
    <div class="col-sm-12 email-presentation">
      <input class="email-output" type="text" [(value)]=professorsEmail readonly>
      <button class="btn btn-primary copy-button">Copy</button>
    </div>
  </div>
</div>  