@import '../../../../variables.scss';
@import '../../../../general-styles.scss';

p {
    color: white;
}

h3 {
    color: $routing-background-header-text-color;
}

input {
    color: white;
}

div {
    display: flex;
}

.email-presentation {
    margin-top: 50px;
    flex-flow: column;
    text-align: center;
}

.email-presentation input {
    text-align: left;   
    padding-left: 28%;
}

.email-display {
    font-weight: bold;
    padding: 2px;
}

.copy-button {
    width: 25%;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    z-index: 9999;
    line-height: 2em;
}

.email-output {
    position: absolute;
}

