<div class="col-sm-12 email-creator center-flex">
  <form class="row" [formGroup]="emailCheckForm" (ngSubmit)="generateEmail()">
    <div class="col-sm-4 center-flex">
      <label>
        <input type="text" placeholder="Professor's Name" formControlName="professorsName">
      </label>
    </div>
    <div class="col-sm-4 center-flex">
      <label>
        <input type="text" placeholder="Professor's last name" formControlName="professorsLastName">
      </label>
    </div>
    <div class="col-sm-4 center-flex" *ngIf="!shouldDisplayQuestionSection">
      <button type="submit" class="btn btn-light">Generate E-mail</button>
    </div>
    <div class="col-sm-12 email-presentation">
      <input class="email-output" type="text" [(value)]=professorsEmail readonly>
      <button type="button" class="btn btn-primary copy-button">Copy</button>
    </div>
  </form>
</div>  