.app-container {
    border-radius: 15px;
    min-width: 1000px;   
    height: 60vh;
    min-height: 600px;
    margin: 112.5px 50px;
    background-color: #172333;
    display: flex;
}

.menu {
    display: flex;
    min-width: 300px;
    flex: 1;
    background: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}

.menu-component {
    width: 100%;
}

.content-items {
    display: flex;
    flex: 2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: auto;
}