@import '../../../../variables.scss';
@import '../../../../general-styles.scss';

p {
    color: white;
}

h3 {
    color: $routing-background-header-text-color;
}

input {
    color: white;
}

div {
    display: flex;
}

.row {
    width: 100%;
}