@import 'variables.scss';

input[type="text"] {
    color: inherit;
    width: 100%;
    line-height: 2em;
    padding: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,.1);
}

input[type="password"] {
    color: inherit;
    width: 100%;
    line-height: 2em;
    padding: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,.1);
}

textarea {
    width: 100%;
}

.center-flex {
    flex-flow: column;
    align-items: center;
}